@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
    --background-color: #010528;
    --gold-color: #b29e6a;
    --primary-color-text: #f2f2f2;
    --second-color-text: #101010;
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Source Sans Pro", sans-serif;
}

* {
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--secondary-font);
}

/*MOBILE MENU*/
a {
    color: var(--second-color-text);
}

/* header */

.header {
    background-color: var(--background-color);
    box-shadow: 1px 1px 4px 0 rgba(122, 0, 0, 0.664);
    position: fixed;
    width: 100%;
    z-index: 3;
    position: relative;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.993);
    font-family: var(--primary-font);
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--background-color);
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f5f5f5fb;
    color: rgb(83, 0, 0);
}

.logo {
    display: block;
    float: left;
    width: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: var(--gold-color);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: var(--gold-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.btn-login {
    font-family: var(--primary-font);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-login:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.btn-create_account {
    border: none;
    font-family: var(--primary-font);
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-create_account:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 840px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*responsive pantalla tablet */
/*@media (min-width: 720px) and (max-width: 1024px) {
    .header {
        background-color: var(--background-color);*/


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 85px;
}

.btn-login {
    width: 150px;
}

.btn-create_account {
    width: 150px;
}

.header li {
    float: left;
    border: none;
}

.header li a {
    padding: 20px 20px;
    color: var(--primary-color-text);
}

.header li a:hover {
    background-color: rgba(255, 255, 255, 0.021);
    color: var(--gold-color);
    cursor: pointer;
}

.header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: var(--background-color);
}

.header .menu-icon {
    display: none;
}


/*responsive pantallas grandes*/
/*@media (min-width: 1025px) {
    header {
        background-color: var(--background-color);*/


.logo {
    display: flex;
    width: 3em;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 85px;
}

.btn-login {
    width: 150px;
}

.btn-create_account {
    width: 150px;
}

.header li {
    float: left;
    border: none;
}

.header li a {
    font-size: large;
    padding: 20px 20px;
    color: var(--primary-color-text);
}

.header li a:hover {
    background-color: rgba(255, 255, 255, 0.021);
    color: var(--gold-color);
    cursor: pointer;
}

.header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: var(--background-color);
}

.header .menu-icon {
    display: none;
}


/*Anderson Castillo*/

.fondo_Vino {
    height: 1024px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../images/bg3-vinorosado.jpg);
    background-size: cover;
    opacity: 0.3;

}

.contenedor_vino_rosa001 {
    height: 1024px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-size: cover;
}

.title_vinos001 {
    position: absolute;
    top: 80px;
    width: 409px;
    height: 89px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.h3_vinos {
    right: 0px;
    color: FFFFFF;
    width: 100%;
}

.nombreVino {
    color: black;
    font-family: playfair display bold;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
}

.carta_de_vino_rosa001 {

    background-color: none;
    height: 513px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    position: absolute;
    top: 20%;
}

.caja_rosas {
    background-color: white;
    width: 277px;
    height: 513px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.images-vino {
    height: 277px;
    border-radius: 10px 10px 0px 0px;
}

.textoVinos .texto_vinos_vinos p {
    height: 125px;
    color: #F2F2F2;
    font-size: 11px !important;
    font-weight: 400px;
}

.footer010 {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    background-color: #04125C30;
}

.footer001 {
    background-image: url(../images/Recurso5.png);
    background-size: cover;
    height: 80.34px;
    width: 800px;
    margin: 35px;
}

/* DanaSuazo vino blanco */

.buy_button {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: flex-end;

    color: #FFFFFF;
    width: 122px;
    height: 41px;
    left: 77px;
    top: 456px;
    background: #B29E6A;
    border-radius: 10px;
    border-color: #B29E6A;
}

.fondo_Vino_blanco {
    height: 1024px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../images/bg\ 2-vino\ balco.jpg);
    background-size: cover;
    opacity: 0.3;

}

.fondo_Vino_tinto {
    height: 1024px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../images/bg\ 1-vino\ titnto.jpg);
    background-size: cover;
    opacity: 0.3;

}

.text_inicial {
    position: absolute;
    width: 1122px;
    height: 66px;
    left: 145px;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

