@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* NO CAMBIAR NI BORRAR*/
:root {
  --background-color: #010528;
  --gold-color: #B29E6A;
  --primary-color-text: #F2F2F2;
  --second-color-text: #101010;
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--background-color);
}
/*MOBILE MENU*/
/* SECCION #3  SECTION INFORMATION "JEREMY/SARA" */


/* menu btn */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.btn-login {
    font-family: var(--primary-font);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-login:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.btn-create_account {
    border: none;
    font-family: var(--primary-font);
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-create_account:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 840px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/* responsive pantalla celular */

@media(min-width: 300px) and (max-width: 720px){

    .grid-container{
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-container-x p {
        font-size: 25px;
        font-weight: bold;
        margin-top: -80px;
        padding-left: 20px;
    }
}


/*responsive pantalla tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .header {
        background-color: var(--background-color);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 85px;
    }

    .btn-login {
        width: 150px;
    }

    .btn-create_account {
        width: 150px;
    }

    .header li {
        float: left;
        border: none;
    }

    .header li a {
        padding: 20px 20px;
        color: var(--primary-color-text);
    }

    .header li a:hover {
        background-color: rgba(255, 255, 255, 0.021);
        color: var(--gold-color);
        cursor: pointer;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: var(--background-color);
    }

    .header .menu-icon {
        display: none;
    }
    .grid-container-x p {
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 30px;
    } 
}

/*responsive pantallas grandes*/
@media (min-width: 1025px) {
    header {
        background-color: var(--background-color);
    }

    .logo {
        display: flex;
        width: 3em;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 85px;
    }

    .btn-login {
        width: 150px;
    }

    .btn-create_account {
        width: 150px;
    }

    .header li {
        float: left;
        border: none;
    }

    .header li a {
        font-size: large;
        padding: 20px 20px;
        color: var(--primary-color-text);
    }

    .header li a:hover {
        background-color: rgba(255, 255, 255, 0.021);
        color: var(--gold-color);
        cursor: pointer;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: var(--background-color);
    }

    .header .menu-icon {
        display: none;
    }
}/*Final header*/



/* Estilos FOOTER - LAURA*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #060b38f6;
    width: auto;
    height: 5em;
    justify-content: center;
    align-items: center;
}
/*media queri seccion 3 sara-jeremy*/
