
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
    --background-color: #010528;
    --gold-color: #b29e6a;
    --primary-color-text: #f2f2f2;
    --second-color-text: #101010;
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Source Sans Pro", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: var(--secondary-font);
}

/* /MOBILE MENU/ */
a {
    color: var(--second-color-text);
}

/* header */
.header {
    background-color: var(--background-color);
    box-shadow: 1px 1px 4px 0 rgba(122, 0, 0, 0.664);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.993);
    font-family: var(--primary-font);
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--background-color);
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f5f5f5fb;
    color: rgb(83, 0, 0);
}

.logo {
    display: block;
    float: left;
    width: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: var(--gold-color);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: var(--gold-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.btn-login {
    font-family: var(--primary-font);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-login:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.btn-create_account {
    border: none;
    font-family: var(--primary-font);
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.btn-create_account:hover {
    background-color: #b29e6a;
    color: var(--primary-color-text);
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 840px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*responsive pantalla tablet */
@media (min-width: 720px) and (max-width: 1024px) {
    .header {
        background-color: var(--background-color);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 85px;
    }

    .btn-login {
        width: 150px;
    }

    /*.btn-create_account {

    }*/

    .header li {
        float: left;
        border: none;
    }

    .header li a {
        padding: 20px 20px;
        color: var(--primary-color-text);
    }

    .header li a:hover {
        background-color: rgba(255, 255, 255, 0.021);
        color: var(--gold-color);
        cursor: pointer;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: var(--background-color);
    }

    .header .menu-icon {
        display: none;
    }

    
}

/* /responsive pantallas grandes/ */
@media (min-width: 1025px) {
    header {
        margin-top: -150px;
        background-color: var(--background-color);
    }

    .logo {
        display: flex;
        width: 3em;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 85px;
    }

    .btn-login {
        width: 150px;
    }

    .btn-create_account {
        width: 150px;
    }

    .header li {
        float: left;
        border: none;
    }

    .header li a {
        font-size: large;
        padding: 20px 20px;
        color: var(--primary-color-text);
    }

    .header li a:hover {
        background-color: rgba(255, 255, 255, 0.021);
        color: var(--gold-color);
        cursor: pointer;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: var(--background-color);
    }

    .header .menu-icon {
        display: none;
    }
}
/* /Final header/ */

/* SECCION #3  SECTION INFORMATION "JEREMY/SARA" */

.sectionInformation_grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px;
  grid-gap: 10rem;
  padding: 1rem;
  background: url(../images/logo213.png) repeat;
  /* opacity: 0.3; */
  background-size: 84.5px 83px;
}

.sectionInformation_grid-article {
  background-color: #10101086;
  grid-column: 2 / 6;
  grid-row: auto;
  /* opacity: 0.7; */
  
  /* GRID ARTICLE */
  display: grid;
  grid-template-columns: 48% 45%;
  grid-gap: 3rem;
}

.sectionInformation_grid-seccion_text {
  padding: 2em;
  color: #99999b;
  text-align: center;
  font-size: 19px;
}

.sectionInformation_grid-seccion_text button {
  background: burlywood;
  color: var(--primary-color-text);
  padding: 1em;
  width: 100px;
  border-radius: 10px;
  border: none;
  position: relative;
  bottom: -3em;
}
.sectionInformation_grid-seccion_text button:hover {
  background: #caa575;
  cursor: pointer;
}
.sectionInformation_grid-seccion_img {
  padding: 20px;
}
.sectionInformation_grid-seccion_img img{
  grid-row: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Inicio parte 1*/
.grid-container-x {
    margin-top: 150px;
    display: grid;
    /*background-color: aqua;*/
    grid-template-columns: auto auto auto;
    grid-template-rows: 350px 350px 350px 350px;
}

.grid-container-x div {
    background-color: #000;
    font-size: 100px;
    text-align: center;
    color: white;
    border: 1px solid black;
}

/*.agenda {
    margin-top: 150px;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    background-color: #b29e6a;
    transition: background 1.5s;
    position: absolute;
    top: 300px;
    left: 90px;
    width: 200px;
}

.agenda:hover {
    padding: 20px;
    background: #010528;
}*/

/*.menu{
    background-color: red;
}*/

/*Aca empieza el primer container que es de las cards*/

.cards-grid-N_M{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 700px;
    gap: 30px;
    padding: 20px;
    margin-top: -1000px;
    background-color: var(--background-color);
}

.grid-card-1 {
    justify-content: center;

    background-color: var(--primary-color-text);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

    border: solid 3px var(--primary-color-text);

    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.grid-card-1:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-card-2 {
    justify-content: center;

    background-color: var(--primary-color-text);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

    border: solid 3px var(--primary-color-text);

    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.grid-card-2:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-card-3 {
    justify-content: center;

    background-color: var(--primary-color-text);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

    border: solid 3px var(--primary-color-text);

    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.grid-card-3:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-card-4 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.grid-card-4:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.Imagenes {
    height: 400px;
    width: 250px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.enlaces {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #fcd581;
    text-decoration: none;
    color: #000;
}

.enlaces:hover {
    padding: 5px 10px;
    border: solid 3px gray;
    background-color: #fed766;
    font-weight: bold;
}

#parrafo {
    margin-top: 200px;
    text-align: center;
    color: #e5e5e5;
}

#vino {
    margin-top: 150px;
    color: #e5e5e5;
    font-size: 30px;
    text-align: end;
    font-family: "Playfair Display", serif;
}

#premium {
    color: #fed766;
    font-size: 35px;
    text-align: end;
    font-family: "Playfair Display", serif;
}

/*footer{
    width: 410px;
    height: 200px;
    border: 5em;
    background-color: gray;
    text-align: center;
}*/

/*Hasta aca llega la seccion de cards*/

.grid-article {
    background-color: #050e0eb6;
    grid-column: 2 / 6;
    grid-row: auto;
    opacity: 1;

    /* GRID ARTICLE */
    display: grid;
    grid-template-columns: 48% 45%;
    grid-gap: 3rem;
}

.grid-seccion_text {
    padding: 2em;
    color: #99999b;
    text-align: center;
}

/* .grid-img {
    background-repeat: repeat;
} */
.grid-seccion_text button {
    background: burlywood;
    color: var(--primary-color-text);
    padding: 1em;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.grid-seccion_text button:hover {
    background: #caa575;
    cursor: pointer;
    color: #000;
    border: solid 3px #000;
}

.grid-seccion_img {
    padding: 20px;
}

.grid-seccion_img img {
    grid-row: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECCION #3 */

.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
    grid-gap: 10rem;
    padding: 1rem;
    background-color: var(--background-color);
    /*background: url(images/Logo.png)  repeat;*/
    /* background: rgba(0, 0, 0, 0.548) no-repeat; */
    background-size: 84.5px 83px;
}

.agenda {
    font-size: 25px;
    padding: 20px;
    background-color: #b29e6a;
    transition: background 1.5s;
    position: absolute;
    top: 300px;
    left: 90px;
    width: 200px;
}

.agenda:hover {
    padding: 5px;
    background: #010528;
}

/* Estilos FOOTER - LAURA*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #060b38f6;
    width: auto;
    height: 5em;
    justify-content: center;
    align-items: center;
}


/*STYLES GRID-DANIEL*/
.gallery__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    background-color: #f2f2f2;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(58, 57, 57);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.gallery__item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__item::before{
    content: "GREAT WALL";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.329);
    transform: translate(100%);
    transition: transform .4s;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.gallery__item:hover::before{
    transform: translate(0);
}
/*FIN STYLES GRID-DANIEL*/