@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*Variables estilos*/
:root{
    --background-color: #010528;
    --gold-color: #B29E6A;
    --primary-color-text:#F2F2F2;
    --second-color-text:#101010;
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 25px;
}

/* NO CAMBIAR NI BORRAR*/
body {
    background-color: var(--background-color);
    font-family: var(--secondary-font);
    font-size: 3em;
}

/*Quienes somos*/
.container-q{
    background-color: var(--background-color);
}

.title-q{
    text-align: center;
    color: var(--primary-color-text);
}

.content-q{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--primary-color-text);
}

.lorem-q{
    width: 500px;
    background-color: #191c3b;
    text-align:center;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    
}

.content-qq{
    text-align: center;
    color: var(--primary-color-text);
}
/*Quienes somos final*/