@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*Variables estilos*/
:root{
    --background-color: #010528;
    --gold-color: #B29E6A;
    --primary-color-text:#F2F2F2;
    --second-color-text:#101010;
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 25px;
}

/* NO CAMBIAR NI BORRAR*/
body {
    background-color: var(--background-color);
    font-family: var(--secondary-font);
    font-size: 3em;
}

/*Quienes somos-Jeisson Parra*/
.container-q{
    background-color: var(--background-color);
}

.title-q{
    padding: 30px 0 30px;
    font-family: var(--primary-font);
    text-align: center;
    color: var(--primary-color-text);
    font-size: 50px;
}

.content-q{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lorem-q{
    width: 600px;
    height: 300px;
    background-color: #191c3b;
    text-align:center;
    font-family: var(--secondary-font);
    font-size: 22px;
    color: var(--primary-color-text);
    margin-top: 40px;
    padding: 60px 4px 60px 4px;
    
}

.q_img{
    width: 560px;
    height: 340px;
}

.text-qq{
    font-family: var(--secondary-font);
    font-size: 44px;
    text-align: center;
    color: var(--primary-color-text);
    padding: 80px 0px;
}
/*Quienes somos*/